body {
  background-color: rgb(7, 45, 99);
  font-family: "proxima_novathin";
}

.content {
  background-color: white;
  width: 80%;
  height: 600px;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
  border-radius: 15px;

  box-shadow: 0 0 15px 9px #00000096;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.dropdown1 button {
  border-radius: 60%;
  margin-right: 20px;
}
.items li:hover {
  background-color: rgb(9, 157, 181);
}
.vertical a {
  color: rgb(7, 45, 99);
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}
.vertical a:hover {
  background-color: rgb(7, 45, 99);
  color: white;
}
/*
.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="tel"],
.formulaire input[type="password"] {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #b5b5b5;
  outline: none;
  border-radius: 5px;
}*/
.profileForm{
  border: 2px solid rgb(7, 45, 99) !important;
  border-radius: 5px;
}
._34ETa {
  display: block !important;
  
}
._3Dx_t{
  margin : 0px 5px 0px 2px !important;
  
}
._30Ipg {
  background-color: #FFFFFF !important;
  height: 100% !important;
  width: 100% !important;
}
._1Lxpd{
  width: 100% !important;
  height: 38px !important;
}
.upload input {
  display: none;
}
.upload label , .buttonSubmit {
  display: block;
  text-align: center;
  background-color: rgb(9, 157, 181);
  color: white;
  
  border-radius: 5px;
  cursor: pointer;
}
.enregistrerButton{
  background-color: rgb(9, 157, 181);
  color: white;
}


.file {
  visibility: hidden;
  position: absolute;
}
/*
.enregistrer {
  max-width: 42%;
  width: 100%;
  background: rgb(9, 157, 181);
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  left: 30%;
  margin-top: 5px;
}*/
.dropdown-item{
  color: rgb(7, 45, 99);
}
.dropdown-item:hover{
  background-color: rgb(9, 157, 181);
  color: white;
}
